In [1]:
import numpy as np
import pandas as pd

In [6]:
# load data
housing = pd.read_csv('WestRoxbury.csv')

In [10]:
# find the shape (dimension) of data frame
housing.shape

(5802, 14)

In [12]:
# show the top rows
housing.head()

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,NaN
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,NaN
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,NaN
4,331.5,4170,5000,1910,2370,1438,2.0,7,3,2,0,1,0,NaN

In [14]:
# show the column headers
housing.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [16]:
# show data type for REMODEL
print(housing.REMODEL.dtype)

object

In [17]:
# change REMODEL data type to categorical
housing.REMODEL = housing.REMODEL.astype('category')

In [18]:
# show data type for REMODEL
print(housing.REMODEL.dtype)

category

In [19]:
# check categories or levels
print(housing.REMODEL.cat.categories)

Index(['Old', 'Recent'], dtype='object')

In [23]:
# show data type for the data set
housing.dtypes

TOTAL VALUE      float64
TAX                int64
LOT SQFT           int64
YR BUILT           int64
GROSS AREA         int64
LIVING AREA        int64
FLOORS           float64
ROOMS              int64
BEDROOMS           int64
FULL BATH          int64
HALF BATH          int64
KITCHEN            int64
FIREPLACE          int64
REMODEL         category
dtype: object

In [24]:
# for loc, the second index in the slice is # inclusive
housing.loc[0:3]

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,NaN
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,NaN
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,NaN

In [25]:
# for loc, the second index in the slice is # exclusive
housing.iloc[0:4]

,TOTAL VALUE,TAX,LOT SQFT,YR BUILT,GROSS AREA,LIVING AREA,FLOORS,ROOMS,BEDROOMS,FULL BATH,HALF BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,NaN
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent
2,330.1,4152,7500,1890,2294,1371,2.0,8,4,1,1,1,0,NaN
3,498.6,6272,13773,1957,5032,2608,1.0,9,5,1,1,1,1,NaN

In [27]:
#For example – showing the first 10 rows of the first column:
housing['TOTAL_VALUE'].iloc[0:10]
housing.iloc[0:10]['TOTAL_VALUE'] # the order is not important
housing.iloc[0:10].TOTAL_VALUE

KeyError: 'TOTAL_VALUE'